.jumbotron{
  padding: 50px 50px 50px 50px;
  margin-top: 56px;
  background-color: black;
  color: white;
}

.navbar{
  padding-left: 20px;
  padding-right: 20px;
}

footer{
  padding: 30px 30px 30px 30px;
  background-color: black;
  color: white;
}

.breadcrumbmargin
{
    margin-bottom: 20px;
}

.footer-padding-icon{
  padding-right: 10px;
}

.button-padding-icon{
  padding-right: 10px;
}

.card-info
{
  margin-left: 0.5%;
  margin-bottom: 0.5%;
}

.card-images
{
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.btn-info
{
  width:100%;
  border-radius: 0px;
}

.home-images{
  margin-top: 0.1%;
  margin-bottom: 3%;
}

.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
    color: white;
    background-color: #575757;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #575757;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
