.jumbotron {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #c23434;
  color: white;
}

.navbar {
  background-color: #c2ad34;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #4ac234;
  color: white;
}

.breadcrumbmargin {
  margin-bottom: 20px;
}

.footer-padding-icon {
  padding-right: 10px;
}

.button-padding-icon {
  padding-right: 10px;
}

.card-info {
  margin-top: 0%;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  margin-right: 0%;
}

.card-images {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.btn-info {
  width: 100%;
  border-radius: 0px;
}

.home-images {
  margin-top: 0.1%;
  margin-bottom: 3%;
  margin-left: 0%;
  margin-right: 0%;
}

.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
  color: white;
  background-color: #575757;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #575757;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/*# sourceMappingURL=styles.css.map */
