$amarillo: #c2ad34;
$rojo: #c23434;
//$rojo: #000000;
$verde: #4ac234;

@mixin colores ($backgroundColor, $letterColor)
{
  background-color:$backgroundColor;
  color:$letterColor;
}

@mixin margenes($margenUp, $margenDown, $margenL, $margenR)
{
  margin-top: $margenUp;
  margin-bottom: $margenDown;
  margin-left: $margenL;
  margin-right: $margenR;
}

@mixin relleno($PUp, $PDown, $PLeft, $PRight)
{
  padding-top:$PUp;
  padding-bottom: $PDown;
  padding-left: $PLeft;
  padding-right: $PRight;
}


.jumbotron{
  @include relleno(50px,50px,50px,50px);
  @include margenes(40px,0px,0px,0px);
  @include colores($rojo,white);
}

.navbar{
  @include colores($amarillo, white);
  @include relleno(0px,0px, 20px, 20px);
}

footer{
  @include relleno(30px, 30px, 30px, 30px);
  @include colores($verde, white);
}

.breadcrumbmargin
{
    margin-bottom: 20px;
}

.footer-padding-icon{
  padding-right: 10px;
}

.button-padding-icon{
  padding-right: 10px;
}

.card-info
{
  @include margenes(0%, 0.5%, 0.5%, 0%);
}

.card-images
{
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.btn-info
{
  width:100%;
  border-radius: 0px;
}

.home-images{
  @include margenes(0.1%, 3%, 0%, 0%);
}

.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
    color: white;
    background-color: #575757;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #575757;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
